<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book controls</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>

<!-- Book edition -->
<div th:fragment="b_controls">
    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="book-author-select">Author name:</label>
        <select id="book-author-select" name="id_author">
            <option value="Author" th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"
            th:selected="(${author.id} == ${book.idAuthor})">
        </select>
    </div>

    <div class="row">
        <label for="book-genre-select">Genre name:</label>
        <select id="book-genre-select" name="id_genre">
            <option value="Genre" th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="(${genre.id} == ${book.idGenre})">
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</div>

</body>
</html>
