<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<h3>Books:</h3>

<table class="objects">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">John Doe</td>
        <td>
            <a href="edit_book.html" th:href="@{/edit_book(id=*{id})}">Open</a>
            <form id="delete-form" action="" th:action="@{/delete_book(id=*{id})}" th:method="post">
                <button type="submit" class="link-like">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    <a href="/add_book"><button type="button">Add book</button></a>
</div>

</body>
</html>
