body {
    padding: 10px 50px;
}

label {
    display: inline-block;
    width: 100px;
}

input:read-only {
    background: lightgray;
}

.row {
    margin-top: 10px;
}

.objects {
    border: 1px solid steelblue;
    width: 300px;
    border-collapse: collapse;
}

.objects tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.objects td:last-child, td:first-child {
    width: 50px;
}

.link-like {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
